%footer
  .footer__box
    .row
      .col-6
        %h3
          our locations
        .row
          .col-6
            %ul
              %li LOUISIANA
              %li 148 Country Club Circle
              %li PO BOX 1041
              %li Minden, LA 71058
              %li.footer__contact P: (800) 556-5002
          .col-6
            %ul
              %li TEXAS
              %li 3010 Highway, 31 E
              %li PO BOX 130729
              %li Tyler, TX 75713
              %li.footer__contact P: (800) 924-0348
      .col-6
        %h3
          stay in touch
        %ul
          %li
            T
          %li
            FB
          %li
            in
        %ul
          %li.icon--email info@dixiepaper.net
          %li © 2014 Dixie Paper Co.