%nav
  .nav__box
    .row
      .col-7
        .block__site-logo
          .site-logo--front
      .col-5
        .nav__menu
          %ul.nav__level--first
            %li
              %a{:href => ""} create account
            %li
              %a{:href => ""} login
            %li.nav__dropdown
              menu
              .i.fa.fa-bars.nav__dropdown--menu-icon--spacing
              .dropdown__box
                %ul.nav__level--second
                  %li About Us
                  %li Online Ordering
                  %li Customer Support
                  %li Vendors
                  %li Green
                  %li Specials
                  %li Careers
                  %li Contact Us








